# {{image}}

{{summary.badge}} 

Vulnarabilties found: {{summary.count}}

| Defcon1 | Critical | High | Medium | Low | Negligible|
|---------|----------|------|--------|-----|-----------|
| {{summary.defcon_count}}|{{summary.critical_count}}|{{summary.high_count}}|{{summary.medium_count}}|{{summary.low_count}}|{{summary.neg_count}}|

## Vulnerabilities

| Severity | Featurename | Version | CVE | Namespace | Description | Link | Fixed by |
|----------|-------------|---------|-----|-----------|-------------|------|----------|
{{#vulnerabilities}}
|{{severity}}|{{featurename}}|{{featureversion}}|{{vulnerability}}|{{namespace}}|{{description}}|{{link}}|{{fixedby}}|
{{/vulnerabilities}}