# {{image}}

## Vulnerabilities

| Severity | Featurename | Version | CVE | Namespace | Description | Link | Fixed by |
|----------|-------------|---------|-----|-----------|-------------|------|----------|
{{#vulnerabilities}}
|{{severity}}|{{featurename}}|{{featureversion}}|{{vulnerability}}|{{namespace}}|{{description}}|{{link}}|{{fixedby}}|
{{/vulnerabilities}}